@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    background: #000000;
}

nav img{
    filter: invert(1);
    width: 200px;
    cursor: pointer;
    -webkit-filter: invert(1);
}
nav{
   display: flex;
   justify-content: space-around;
   background: black;
}

nav ul{
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
}
nav a{
   color: white;
   font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
}
.lista1, .lista2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista1 a::after {
    content: '';
    display: block;
    width: 0;
    margin-top: 5px;
    height: 2px;
    background: white;
    transition: width 0.5s;

}

.lista1 a:hover::after {
    width: 100%;
    transition: width 0.5s;

}
.lista2 a::after {
    content: '';
    display: block;
    width: 0;
    margin-top: 5px;
    height: 2px;
    background: white;
    transition: width 0.5s;

}

.lista2 a:hover::after {
    width: 100%;
    transition: width 0.5s;

}


.koszyk1{
    color: white;
}
.koszyk1 p{
    margin-top: 30px;
    font-size: 25px;
}
.kreska{
    height: 1px;
    width: 1200px;
    background: white;
}
.koszyk1 h2{
    font-size: 100px;
    font-weight: 200;
    margin-bottom: 20px;
}
main{
    margin-top: 55px;
    display: flex;
    justify-content: space-around;
}
.boxprawo{
    height: 700px;
    width: 500px;
    background: white;
    display: grid;
    justify-content: space-around;
    align-items: center;
}
.koszyk2 h2{
    font-weight: 300;
    font-size: 30px;
}
.koszyk2 p{
    display: flex;
    gap: 10px;
}
.kontakt{
    display: grid;
    gap: 15px;
}
.boxprawo i{
    font-size: 20px;
}




footer{
    position: absolute;
    top: 950px;
    height: 430px;
    width: 1920px;
    background: black;
    color: white;
}


.stopka p{
    font-size: 30px;
    margin-bottom: 20px;
}
.stopka i{
    font-size: 20px;
}
.stopkacontent{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.pcontent p{
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 15px;
}